################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/WpfGecko/v15
/packages
/src/.vs/WpfGecko/v15/Server/sqlite3
/src/bin/Debug
/src/obj/Debug
